table{
    border: 1px solid black;
}
tr{
    
    border: 1px solid black;
}
td{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    gap:none;
}
.szurke{
    background-color: rgb(99, 99, 99);
}
.feher{
    background-color: white;
}